@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html, body {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--background);
    color: var(--text);
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.content-wrapper p {
    width: 50%;
    font-size: 20px;
}
#introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
#introduction img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
}
#introduction .subtitle {
    width: 800px;
}
.title {
    font-size: 125px;
    font-family: "Comic Neue";
    text-transform: uppercase;
    font-weight: 900;
}
.subtitle {
    font-size: 50px;
    font-family: "Comic Neue";
    color: var(--secondary);
    text-wrap: balance;
}
a {
    color: inherit;
}