html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.comic-node {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid red;
}
.comic {
    border: 5px solid green;
}
#circle-container {
    width: 500px;
    height: 500px;
    background-color: black;
}
.circumference-obj {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: grey;
}
img {
    width: 100%;
    height: 100%;
}