html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle-container {
    width: 500px;
    height: 500px;
    background-color: black;
}
.circumference-obj {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
img {
    width: 80px;
    height: 80px;
}
/*.circumference-obj:hover {
    width: 70px;
    height: 70px;
    transform: translate(-5px, -5px);
} */